{{if .}}
data = {{.}}
{{end}}
<form action="/" method="POST">
    <button value="Dunno" name="BtnVar">Dunno</button>
</form>
<form action="/" method="POST">
    <button value="Yikes" name="BtnVar">Yikes</button>
</form>
<form action="/" method="POST">
    <button value="opps" name="BtnVar">opps</button>
</form>
