<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Submit file</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form enctype="multipart/form-data" method="POST">
            <input type="file" name="q" id="">
            <input type="submit" value="submit">
        </form>
        {{if .}}
            {{.}}
        {{end}}
    </body>
</html>
