@use "./components/" as *;
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @include c-true-gray-900(background);
  margin: 0;
  padding: 0;
  color: white;
}

main {
  margin: 0 10vw;
}

header {
  @include c-purple-500(background);
  padding: 1rem;
  text-align: center;
  color: black;
}

.todoList {
  max-width: 35rem;
  margin: 5vh auto;

  .nameInputField {
    input {
      outline: none;
      border: none;
      padding: 0.5rem 1rem;
      &:focus {
        border: 1px black solid;
      }
    }

    @media (min-width: 768px) {
      display: inline;
    }
  }

  .todoListNameing {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-column-gap: 1rem;
  }

  button {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    @include c-rose-600(background);
    &:active {
      @include c-purple-500(background);
    }
  }
  .clear-task {
    @include c-green-600(background);
  }

  .todoList-list {
    ul {
      padding: 0;
      list-style: none;
    }

    .todoItems {
      color: black;
      transition: all ease 300ms;
      @include c-rose-600(background);
      list-style: none;
      padding: 1rem;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      border: 3px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        z-index: 2;
        border: 3px solid black;
        @include c-red-600(background);
        padding: 0 0.3rem;
        &:active {
          transform: scale(0.8);
        }
      }
    }

    .todoItems-Clicked {
      @include c-green-600(background);
      position: relative;
      &::before {
        content: "";
        background: black;
        position: absolute;
        inset: 50% 0 0 0;
        height: 2px;
        width: 100%;
      }
    }
  }
}

//utilites
