<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method=GET>
            First Name:<input type="text" name="fn" id="fn"><br>
            Last Name:<input type="text" name="ln" id="ln"><br>
            <input type="submit" value="submit">
        </form><br>
            {{.Fname}}
            {{.Lname}}
    </body>
</html>
